<p>
	Dies scheint eine frische Installation von Repomgmt zu sein. Folgende Schritte sind jetzt ratsam.
	<ol>
		<li>Legen Sie Benutzer an. Oder lassen Sie die Benutzer sich registrieren.</li>
		<li>Legen Sie ein neues Projekt an. Es wird automatisch ein Git-Repository erzeugt.</li>
		<li>Weisen Sie dem frisch erstellten Projekt Benutzer zu. Dadurch können Sie für dieses Projekt Aufgaben verwalten und die Benutzer können in das zugehörige Repository Code einchecken.</li>
		<li>Verwenden Sie die Suchfunktion. Sie ist sehr mächtig.</li>
	</ol>
</p>