// Place all the styles related to the Repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#repository-user-input {
    border-radius: 4px 0 0 4px;
}

#repository-user-table {
    padding-top: 1em;
}
