<h3>Systemeinstellungen</h3>

<p>Mit folgendem Knopf können die Repositories / Commits manuell neu indiziert werden.</p>
<%= link_to "Reindex", admin_system_reindex_repositories_path, method: :post, class: 'btn btn-primary' %>
